@import '../../../App';

.title {
  flex-grow: 1;
  
  text-decoration: none;

  h4 {
    @extend .logo;
    color: black;
  }
}

.container {
  display: 'flex';
  flex-flow: 'row nowrap';
  align-items: 'baseline';
}

.root {
  flex-grow: 1;
}