@import '../../../../App';

.project-navigation-item {
  display: flex;
  flex-flow: column nowrap;
  
  padding: 1vh 0 1vh 15px;

  &.list-item-selected .project-navigation-title, &:hover {
    font-weight: 500;
    color: $color-accent1;
  }

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .project-navigation-title {
    font-size: 1.25em;
  }

  div.project-navigation-information {
    display: inline-flex;
    
    color: #616161;
  }
}